.Hoodies_shop_container {
    height: 1000px;
    width: 100%;
    margin-top: 105px;
    background-color: white;
    flex-direction: column;
    /* opacity: 0.4; */
}

.Hoodies_header {
    height: 200px;
    width: 100%;
    background-color: white;
    /* opacity: 0.5; */
    display: flex;
    margin-top: 130px;
    align-items: top;
    justify-content: space-around;
}

.Hoodies_items_container {
    height: 900;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: left;
    flex-direction: column;
}

.indv_hoodie {
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-bottom: 50px;
}

.indv_hoodie img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    /* opacity: 1; */
}

/* .indv_green_cap {
    height: 220px;
    width: 220px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    margin-left: 100px;
} */

/* .indv_green_cap img {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    display: flex;
    overflow: hidden;

} */

.navLinkShop {
    color: black;
}

.navLinkShop:hover {
    border-width: 4px;
    border-radius: 50%;
    color: black;
    /* background-color: lightskyblue; */
    opacity: 1;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 1.1), 0 5px 3px 0 rgba(0, 0, 0, 0.5);
}