.Grey_detail_container {
    height: 900px;
    width: 100%;
    margin-top: 105px;
    background-color: mintcream;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}

.Grey_capContainer {
    height: 320px;
    width: 320px;
    margin-top: 50px;
    border-top: thin solid black;
    border-bottom: thin solid black;
    /* display: flex; */
    /* justify-content: space-around; */
}

.Grey_capContainer img {
    height: 300px;
    width: 300px;
}

.Grey_capDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addToCart {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
    transition: .3s;
    border: 2px solid RGBA(0, 220, 255, 1.00);
    background-color: RGBA(0, 220, 255, 1.00);
  }
  .addToCart:hover {
    color:  RGBA(0, 220, 255, 1.00);
    background-color: white;
    border: 2px solid RGBA(0, 220, 255, 1.00);
  }

