@import url('https://fonts.googleapis.com/css?family=Yellowtail');

.About_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
}

.Story_header {
    font-family: 'Yellowtail', cursive;
    font-size: 40px;
    font-weight: lighter;
    color: black;
}

.Story_container {
    height: 420px;
    width: 70%;
    font-size: 19px;
    padding: 5px;
    border: thin solid grey;
    /* border-width: 2px; */
    
}

.Tribe_header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    font-family: 'Yellowtail', cursive;
    font-size: 40px;
    font-weight: lighter;
    color: black;
}

.Tribe_container {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.Tribe_member img {
    Height: 320px;
    width: 440px;
    /* background-color: grey; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* overflow: hidden; */
}