.Checkout_container {
    height: 900px;
    width: 100%;
    margin-top: 105px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: peachpuff;
}

/* .Quote_container {
    height: 170px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.Bag_header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.Purchasing_header {
    height: 40px;
    width: 70%;
    border-bottom: thin solid black;
    border-top: thin solid black;
    /* border-width: 1px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.Purchasing_container {
    height: 300px;
    width: 70%;
    border-bottom: thin solid black;
    /* border-top: solid; */
    /* border-width: 1px; */
    padding: 10px;
}





