@import url('https://fonts.googleapis.com/css?family=Raleway:700');
@import url('https://fonts.googleapis.com/css?family=Yellowtail');

/* font-family: 'Yellowtail', cursive; */
/* font-family: 'Raleway', sans-serif; */

.Home_container {
    height: 100%;
    width: 100%;
    margin-top: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Carousel_container {
    display: flex;
    height: 670px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: black;
    background-size: cover;
    background-position: center bottom;
    background-color: white;
    overflow: hidden;
}

.Collections_header {
    height: 100px;
    width: 300px;
    display: flex;
    border-bottom: thin solid black;
    margin-left: 40px;
    margin-right: 80px;
    justify-content: center;
    align-items: center;
    font-family: 'Yellowtail', cursive;
    font-size: xx-large;
    color: black;
}

.Collections_container {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Indv_containers {
    height: 430px;
    width: 430px;
    background-color: grey;
    display: flex;
    align-content: center;
    justify-content: center;
    /* border: thin solid black; */
    border-radius: 50%;
    /* overflow: hidden; */
}

.Indv_hoodie_container img {
    height: 430px;
    width: 437px;
    /* background-color: grey; */
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    border: thin solid grey;
    /* overflow: hidden; */

}

.Footer_container {
    height: 650px;
    width: 100%;
    background-color: black;
    color: #CFCACA;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.Left_footer {
    height: 500px;
    width: 425px;
    display: flex;
    border-right: thin solid white;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    font-family: 'Yellowtail', cursive;
    font-size: xx-large;
}

.left_toe {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin-top: 96px;

}

.Center_footer {
    height: 500px;
    width: 425px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Yellowtail', cursive;
    font-size: xx-large;
    /* justify-content: center; */
    /* border-right: thin solid white; */
    /* border-left: thin solid white; */
}

.mission_container {
    height: 275px;
    width: 400px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 20px;


}



.Right_footer {
    height: 500px;
    width: 425px;
    display: flex;
    border-left: thin solid white;
    justify-content: space-around;
    font-family: 'Yellowtail', cursive;
    font-size: xx-large;
}
