.Home_container {
    height: 100%;
    width: 100%;
}

.Carousel_container {
    display: flex;
    height: 670px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: black;
    background-size: cover;
    background-position: center bottom;
    background-color: white;
    overflow: hidden;
}

.Collections_header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    color: black;
    font-size: x-large;
}

.Collections_container {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Indv_containers {
    height: 400px;
    width: 400px;
    background-color: grey;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 180px;
}

.Indv_hoodie_container img {
    height: 400px;
    width: 400px;
    background-color: grey;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 180px;
    border-style: solid black;
    border-width: 2px;

}
