.Nav_container {
    height: 104px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 5px 3px 0 rgba(0, 0, 0, 0.2);
  }

  .Logo_container img {
      height: 95px;
      width: 95px;
      display: flex;
      justify-content: center;
      border-radius: 180px;
      cursor: pointer;
  }

  .navLink {
      color: black;
  }


  #Nav_linksContainer {
    height: 100px;
    width: 70%;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.navbar_links {
        display: flex;
        justify-content: space-around;
        width: 70%;
        list-style: none;
        padding-top: none;
        font-size: 20px;
        font-family: sans-serif;
}

.login_container {
    height: 95px;
    width: 95px;
    display: flex;
    justify-content: center;
    border-radius: 180px;
    padding-right: 20px;
}

.Login_button {
    color: black;
}

.Nav__label {
    display: flex;
    justify-content: space-between;
}

  #Checkout_button__Container {
      font-size: 32px;
      color: black;
      padding-left: 25px;
  }

.Side_nav_container {
    height: 78%;
    width: 360px;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 1;
    top: 0;
    right: 0;
    border-style: solid;
    border-width: 2px;
    background-color: none;
    overflow-x: hidden;
    padding-top: 20px;
    color: black;

}

  

