@import url('https://fonts.googleapis.com/css?family=Raleway:700');

.Nav_container {
    height: 104px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 5px 3px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 2;
    overflow: hidden;
    top: 0;
    /* background-color: #E5EEC1; */
  }

  .Logo_container img {
      height: 95px;
      width: 95px;
      display: flex;
      justify-content: center;
      border-radius: 180px;
      cursor: pointer;
  }

  .navLink {
      color: black;
      text-decoration: none;
      font-family: 'Raleway', sans-serif;
      font-size: 22px;
  }

  .navLink:hover {
      text-decoration: none;
      color: lightseagreen;
  }


  #Nav_linksContainer {
    height: 100px;
    width: 70%;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /* background-color: #E5EEC1; */
}

.navbar_links {
        display: flex;
        justify-content: space-around;
        width: 70%;
        list-style: none;
        padding-top: none;
        font-size: 20px;
        font-family: sans-serif;
        text-decoration: none;
}

.login_container {
    height: 95px;
    width: 95px;
    display: flex;
    justify-content: center;
    border-radius: 180px;
    padding-right: 20px;
}


.Login_button {
    color: black;
    
}
.Login_button:hover {
    text-decoration: none;
    color: lightseagreen;
}


.Nav__label {
    display: flex;
    justify-content: space-between;
}

  #Basket_container {
      font-size: 32px;
      color: black;
      padding-left: 25px;
      cursor: pointer;
      /* transition: 1.4s; */
      
  }

.slide_open {
    height: 725px;
    width: 370px;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 1;
    top: 0;
    right: 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 1.1), 0 5px 3px 0 rgba(0, 0, 0, 0.5);
    /* border-style: solid; */
    /* border-width: 2px; */
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    background-color: none;
    overflow-x: hidden;
    padding-top: 20px;
    color: black;
    font-style: bold;
    opacity: .89;
    background-color: darkgrey;
    transition: .81s;
}



  

