.Nav_container {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 5px 3px 0 rgba(0, 0, 0, 0.2);
    padding-right: 5px;
    padding-left: 15px;
  }

  .Logo_container {
      height: 100px;
      width: 100px;
      
  }

  #Nav_linksContainer {
    height: 100px;
    width: 75%;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.navbar_links {
        display: flex;
        justify-content: space-around;
        width: 70%;
        list-style: none;
        padding-top: none;
        font-size: 20px;
        font-family: sans-serif;
}

.Nav__label {
    display: flex;
    justify-content: space-between;
}

  

  #Checkout__Container {
      font-size: 32px;
      color: black;
  }

  

